name: Java CI/CD

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: maven:3.9-eclipse-temurin-21
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Set execute permission for mvnw
      run: chmod +x ./mvnw
      
    - name: Build with Maven
      run: ./mvnw clean compile test package
      
    - name: Upload JAR artifact
      uses: actions/upload-artifact@v4
      with:
        name: java-package
        path: target/*.jar